<!-- Icon -->
<div class="container-fluid">
  <div class="row py-3">
    <div class="col-lg-8 col-md-5">
      <span class="icon fs-5 px-3"><i class="bi bi-arrow-down-up"></i></span>
    </div>
    <div class="col-lg-4 col-md-7 fs-5">
      <a href="#"><i class="bi bi-megaphone-fill px-2  icon"></i></a>
      <a href="#"><i class="fa-solid fa-user px-2  icon"></i></a>
      <a href="#"><i class="fa-brands fa-whatsapp px-2  icon"></i></a>
      <a href="#"><i class="fa-solid fa-comment-dots px-2  icon"></i></a>
      <a href="#"><i class="fa-solid fa-envelope px-2  icon"></i></a>
      <a href="#"><i class="fa-solid fa-repeat px-2  icon"></i></a>
      <a href="#"><i class="fa-solid fa-download px-2  icon"></i></a>
      <a href="#"><i class="fa-solid fa-bars px-2  icon"></i></a>
      <a href="#"><i class="fa-solid fa-filter px-2  icon justify-content-end"></i></a>

    </div>
  </div>
</div>

<div class="icon-btn btn btn-group-vertical ">
  <a href="#" class="icon  fs-1 " data-bs-toggle="modal" data-bs-target="#exampleModal"><i
      class="fa-solid fa-circle-plus"></i></a>

  <a href="#" class="icon  fs-1 "><i class="fa-solid fa-circle-arrow-up"></i></a>
</div>


<div class="container-fluid">
  <!-- card-first -->
  <div class="card">
    <div class="card-body">
      <div class="div">
        <div class="row py-3 ">
          <div class="col-lg-3 col-md-3 d-flex px-1">
            <div class="py-2 me-3 ">
              <input type="checkbox" class="p-5">
            </div>
            <div class="div">
              <h5>{{name}}</h5>
              <h5>{{number}}</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <select>
              <option>2-Follow-up</option>
            </select>
            <a href="#"><i class="fa-solid fa-phone px-2 fs-6 icon"></i></a><span>0</span>
            <a href="#"><i class="fa-regular fa-message  px-2 fs-6 icon"></i></a><span>1</span>
            <a href="#"><i class="fa-solid fa-envelope  px-1 fs-6 icon"></i></a><span>4</span>
            <a href="#"><i class="fa-solid fa-square-poll-horizontal  px-1  fs-6 icon"></i></a><span>2</span>
          </div>
          <div class="col-lg-3 col-md-3 vartical-border"></div>
          <div class="col-lg-3 col-md-3">
            <a href="#"><i class="fa-solid fa-video px-2 fs-6 icon"></i></a>
            <a href="#"><i class="fa-solid fa-phone px-2 fs-6 icon"></i></a>
            <a href="#"><i class="fa-solid fa-envelope  px-2 fs-6 icon"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp px-2 fs-6 icon"></i></a>
            <a href="#"><i class="fa-solid fa-clone px-2 fs-6 icon"></i></a>
          </div>
        </div>

        <div class="div px-4">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <h5>CONVERTABLITY</h5>
              <h5>Test</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>ENQIRY SOURCE</h5>
              <h5>Googleads</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>ENQIRY TYPE</h5>
              <h5>Online Leads</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>RESPONSE</h5>
              <h5>Call back Later-inter</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-3">
              <h5>CAMPAIGN NAME</h5>
              <h5>API Lead</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>CENTER</h5>
              <h5>pune</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>CORSE</h5>
              <h5>Corse 1</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>BATCH TYPE</h5>
              <h5>Regular Batch</h5>
            </div>
          </div>


          <div class="row">
            <div class="col-lg-3 col-md-3">
              <h5>LANGUAGE</h5>
              <h5>English</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>LEAD CREATION DATE</h5>
              <h5>Jul,9,2col-lg-3 col-md-3:51 PM</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>LEAD MODIFICATION DATE</h5>
              <h5>Aug 6,2021 5:39 PM</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>NEXT ACTION DATE</h5>
              <h5>Aug 10 2021 12:00 AM</h5>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-3 col-md-3">
              <h5>REMARKS</h5>
              <h5>Null</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>PREVIOUS LEAD OWNER</h5>
              <h5>ExtaEadge Admin</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>ASSIGHNED TO</h5>
              <h5>ExtraEdge Admin</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>FOLLOWUP COMMENT</h5>
              <h5>follow up date change</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- card-second -->
  <div class="card mt-2">
    <div class="card-body">
      <div class="div py-2 px-1">
        <div class="row ">
          <div class="col-lg-3 col-md-3 d-flex px-1">
            <div class="me-3">
              <input type="checkbox" class="p-5">
            </div>
            <div class="div">
              <h5>{{name}}</h5>
              <h5>{{number}}</h5>
            </div>
          </div>
          <div class="col-lg-3 col-md-3">
            <select>
              <option>2-Follow-up</option>
            </select>
            <a href="#"><i class="fa-solid fa-phone px-2 fs-6 icon"></i></a><span>0</span>
            <a href="#"><i class="fa-regular fa-message  px-1 fs-6 icon"></i></a><span>1</span>
            <a href="#"><i class="fa-solid fa-envelope  px-1 fs-6 icon"></i></a><span>4</span>
            <a href="#"><i class="fa-solid fa-square-poll-horizontal  px-1  fs-6 icon"></i></a><span>0</span>        
          </div>
          <div class="col-lg-3 col-md-1 vartical-border"></div>
          <div class="col-lg-3 col-md-4">
            <a href="#"><i class="fa-solid fa-video px-1 fs-6 icon"></i></a>
            <a href="#"><i class="fa-solid fa-phone px-1 fs-6 icon"></i></a>
            <a href="#"><i class="fa-solid fa-envelope  px-1 fs-6 icon"></i></a>
            <a href="#"><i class="fa-brands fa-whatsapp px-1 fs-6 icon"></i></a>
            <a href="#"><i class="fa-solid fa-clone px-1 fs-6 icon"></i></a>
          </div>
        </div>

        <div class="div px-3 mt-2">
          <div class="row">
            <div class="col-lg-3 col-md-3">
              <h5>CONVERTABLITY</h5>
              <h5>Test</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>ENQIRY SOURCE</h5>
              <h5>Googleads</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>ENQIRY TYPE</h5>
              <h5>Online Leads</h5>
            </div>
            <div class="col-lg-3 col-md-3">
              <h5>RESPONSE</h5>
              <h5>Call back Later-inter</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- angular material pop-up button -->
<button mat-button color="warn" (click)="openDialog()">Open dialog</button>


<!-- pop-up  Bootstrap-->
<!-- Quick add -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Quick Add</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="alldata" (ngSubmit)="onSubmitForm()">
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>First Name</label><span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="fname" reqired
                  [ngClass]="{'is-invalid': isSubmitted && frm.fname.errors}" placeholder="First Name">
                <div *ngIf="isSubmitted && frm.fname.errors?.required" class="invalid-feedback">First name is required
                </div>
                <p class="text-danger" *ngIf="frm.fname.invalid && frm.fname.errors?.pattern">Please enter correct name
                </p>
              </div>
              <div class="form-group">
                <label for="">Email</label><span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="Email" required
                  [ngClass]="{'is-invalid': isSubmitted && frm.Email.errors}" placeholder="frm@gmail.com">
                <div *ngIf="isSubmitted && frm.Email.errors?.required" class="invalid-feedback">Enter Email is reqired
                </div>
                <p class="text-danger" *ngIf="frm.Email.invalid && frm.Email.errors?.pattern">Please enter correct email
                </p>
              </div>
              <div class="form-group">
                <label for="" class="form-label">Enqiry Type</label><span class="text-danger">*</span>
                <select id="" class="form-select" formControlName="EnqiryType" reqired
                  [ngClass]="{'is-invalid': isSubmitted && frm.EnqiryType.errors}">
                  <option selected>Select Enqiry Type</option>
                  <option value="Online Leads">Online Leads</option>
                </select>
                <div *ngIf="isSubmitted && frm.EnqiryType.errors?.required" class="invalid-feedback">Enqiry Type is
                  required</div>
              </div>
              <div class="form-group">
                <label for="" class="form-label">Center</label><span class="text-danger">*</span>
                <select id="center" class="form-select" formControlName="center" reqired
                  [ngClass]="{'is-invalid': isSubmitted && frm.center.errors}">
                  <option selected>Select center</option>
                  <option *ngFor="let city of center">{{city}}</option>
                </select>
                <div *ngIf="isSubmitted && frm.center.errors?.required" class="invalid-feedback">Center is required
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Last Name</label><span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="lname" required
                  [ngClass]="{'is-invalid': isSubmitted && frm.lname.errors}">
                <div *ngIf="isSubmitted && frm.lname.errors?.required" class="invalid-feedback">last name is required
                </div>
                <p class="text-danger" *ngIf="frm.lname.invalid && frm.lname.errors?.pattern">Please enter correct last
                  name</p>
              </div>
              <div class="form-group">
                <label for="">Mobile</label><span class="text-danger">*</span>
                <input type="text" class="form-control" formControlName="mobile" maxlength="10"
                  [ngClass]="{'is-invalid': isSubmitted && frm.mobile.errors}">
                <div *ngIf="isSubmitted && frm.mobile.errors?.required" class="invalid-feedback">Enter valid mobile
                </div>
                <p class="text-danger" *ngIf="frm.mobile.invalid && frm.mobile.errors?.pattern">Please enter correct
                  mobile number</p>
              </div>
              <div class="form-group">
                <label for="" class="form-label">Enqiry Source</label><span>*</span>
                <select id="" class="form-select" formControlName="enqirySorce" reqired
                  [ngClass]="{'is-invalid': isSubmitted && frm.enqirySorce.errors}">
                  <option selected>Select Enqiry Source</option>
                  <option *ngFor="let enqiry of enqirySorce">{{enqiry}}</option>
                </select>
                <div *ngIf="isSubmitted && frm.enqirySorce.errors?.required" class="invalid-feedback">Enqiry sorce is
                  required</div>
              </div>
              <div class="form-group">
                <label for="" class="form-label">Corse</label><span>*</span>
                <select id="" class="form-select" formControlName="corse" reqired
                  [ngClass]="{'is-invalid': isSubmitted && frm.corse.errors}">
                  <option selected>Select Corse</option>
                  <option *ngFor="let course of courses">{{course}}</option>
                </select>
                <div *ngIf="isSubmitted && frm.corse.errors?.required" class="invalid-feedback">Enqiry sorce is required
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Remarks</label>
            <input type="text" class="form-control" formControlName="remark" required
              [ngClass]="{'is-invalid': isSubmitted && frm.remark.errors}">
            <div *ngIf="isSubmitted && frm.remark.errors?.required" class="invalid-feedback">Remarks is Reqired</div>
          </div>
          <div class="form-group d-flex py-2">
            <div class="send-mail">
              <input type="checkbox">
              <label for="" class="px-2">Send Welcome Email</label>
            </div>
            <div class="send-sms px-3">
              <input type="checkbox">
              <label for="" class="px-2">Send Welcome SMS</label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer ">
        <button type="button" (click)="onSubmitForm()" data-toggle="modal"
          class="btn btn-light border-dark text-warning" data-bs-target="#my-modal" #closebutton
          data-bs-dismiss="modal">SAVE & CLOSE</button>
        <button type="submit" (click)="onSubmit()" class="btn btn-light border-dark text-warning">SAVE & ADDMORE</button>
      </div>
    </div>
  </div>
</div>